*{/*Selector*/
    margin: 10px;
}

#main-section{
    background-color:#6699FF;
    block-size: 380px;

}

article{
    background-color:#F5A9E1;
    margin: 10px;
    block-size: 100px;

}

.aside-it{
    background-color:#F7819F;
    /*width:30%;*/
    flex:start;
    display: flex;
    position:relative;
    }

#main-header{
    background-color:#66FFFF;
    padding: 0px;
    border-color: #F8ABF2;
    border-width: 1.5px;
    border-style: solid;
    block-size: 85px;
}

#main-nav{
    background-color:#DF01D7;
    padding: 0px;
    margin: 30px;
    margin-bottom: 5px;
    border-color: #F8ABF2;
    border-width: 1px;
    border-style: solid;
    block-size: 30px;
}

#footer-id{
    background-color: #CECEF6;
    block-size: 30px;
    border-color:#2121FE;
}